@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f3f4f6;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
.roboto {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto'; */
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  /* background-color: gray; */
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
